<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">>
  <head>
    <meta charset="UTF-8">
    <title>Available posts</title>
    <style>
      #feedHeading {
        color: rgba(43, 20, 255, 0.96);
        font-size: 25px;
        font-family: Bahnschrift;
      }
      #iLike {
        color: red;
        font-size: 30px;
      }
      .onOneLine {
        display: inline-block;
      }
    </style>
  </head>
  <body>

    <div th:each="post : ${posts}">
      <a id="feedHeading"
         th:href="@{/posts/{id}(id = ${post.getId()})}" th:text="${post.getHeading()}">HEADING</a>
      <br>
      <p class="onOneLine"
         id="iLike">&#10084;</p>
      <p class="onOneLine"
         id="likesNum"
         th:text="${post.getLikes()}">LIKES</p>
      <p th:text="${post.getBody()}">BODY</p>
    </div>

    <form th:method="POST" th:action="@{/posts}" th:object="${postToCreate}">
      <label for="heading">Заголовок</label>
      <input type="text" th:field="*{heading}" id="heading"/>
      <br>
      <label for="body">Текст поста</label>
      <input type="text" th:field="*{body}" id="body"/>
      <br>
      <input type="submit" value="Опубликовать"/>
    </form>

  </body>
</html>