<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">>
  <head>
    <meta charset="UTF-8">
    <title>Available posts</title>
  </head>
  <body>
    <div th:each="post : ${posts}">
      <a th:href="@{/posts/{id}(id = ${post.getId()})}" th:text="${post.getHeading()}">HEADING</a>
      <p th:text="${post.getBody()}">BODY</p>
    </div>

    <form th:method="POST" th:action="@{/posts}" th:object="${postToCreate}">
      <label for="heading">Heading</label>
      <input type="text" th:field="*{heading}" id="heading"/>
      <br>
      <label for="body">Body</label>
      <input type="text" th:field="*{body}" id="body"/>
      <br>
      <input type="submit" value="POST"/>
    </form>

  </body>
</html>