<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">>
    <head>
        <meta charset="UTF-8">
        <title>A single post</title>
    </head>
    <body>
        <a th:text="лента..." th:href="@{/posts}">BACK</a>
        <h1 th:text="${post.get().getHeading()}"> HEADING</h1>
        <br>
        <br>
        <a th:text="${post.get().getBody()}">BODY</a>
        <br>
        <br>
        <form th:method="POST" th:action="@{/posts/like/{id}(id = ${post.get().getId()})}">
            <button type="submit">"Мне нравится"</button>
        </form>
        <a th:text="${post.get().getLikes()}">LIKES</a>


    </body>
</html>